# Emacs
\#*#

# Credential
*credential.json

# Local .terraform directories
**/.terraform/*
.terraform.lock*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# ssh
id_rsa*

# bak
*.bak
*.old
old/*
*bak*/*

# Cred
*.cred
*.pub

# txt
# *.txt

# # tfvars
# *.tfvars

test/*

# Local clab directories
**/clab*/*

# log file
logs/*

# copy file
*copy*

# env 
.env

# venv
.venv/*

# build artifacts
build/*
dist/*
*.spec
!alred.spec

# uv lock file
uv.lock

# raw dir
raw/*

# output dir
output/*

# generated local helper files
.alred/*

# gen file
hosts.yaml

# test code
test*

# vscode 
.vscode*

# sample
samples/*

# pycash
*/__pycache__/*
/__pycache__/*

# dev config
main.tf
mappings.yaml
new_l3.txt
new_vni_gateway_map.csv
push-config.txt
policy.yaml
underlay_render.yaml
roles.yaml
show_commands.txt
hosts.txt
/*.example.yaml
/*.example
/sample*
/clab_lab_profile.sample.yaml
/clab_kind_cluster.csv
/clab_linux_server.csv
/clab_linux_server.md
/clab_merge.yaml
description_rules.yaml

# codex
.codex
