! alred generated overlay configuration
! change-id: {{ change_id }}
! host: {{ device }}
! source: {{ source }}
! renderer: nxos-overlay@1.0
!
configure terminal
!
{% for l3 in l3vnis %}
vrf context {{ l3.vrf }}
  vni {{ l3.vni }} l3
  rd auto
{% for af in l3.address_families %}
  address-family {{ af }} unicast
    route-target both auto
    route-target both auto evpn
{% endfor %}
!
{% if l3.mode == "traditional_vlan_svi" %}
vlan {{ l3.vlan }}
  vn-segment {{ l3.vni }}
!
interface Vlan{{ l3.vlan }}
  no shutdown
  mtu {{ l3.svi.mtu }}
  vrf member {{ l3.vrf }}
  ip forward
!
{% endif %}
{% endfor %}
{% for l2 in l2vnis %}
vlan {{ l2.vlan }}
{% if l2.vlan_name is defined %}
  name {{ l2.vlan_name }}
{% endif %}
  vn-segment {{ l2.vni }}
!
{% if l2.svi is defined %}
interface Vlan{{ l2.vlan }}
{% if l2.vlan_name is defined %}
  description {{ l2.vlan_name }}
{% endif %}
  no shutdown
  mtu {{ l2.svi.mtu }}
{% if l2.vrf is defined %}
  vrf member {{ l2.vrf }}
{% endif %}
{% if l2.svi.ipv4_addresses is defined %}
  no ip redirects
{% for address in l2.svi.ipv4_addresses %}
  ip address {{ address }}
{% endfor %}
{% endif %}
{% if l2.svi.ipv6_addresses is defined %}
  ipv6 link-local {{ l2.svi.ipv6_link_local }}
{% for address in l2.svi.ipv6_addresses %}
  ipv6 address {{ address }}
{% endfor %}
{% if l2.svi.ipv6_nd_suppress_ra %}
  ipv6 nd suppress-ra
{% endif %}
  no ipv6 redirects
{% endif %}
  fabric forwarding mode anycast-gateway
!
{% endif %}
{% endfor %}
interface {{ nve_interface }}
{% for l3 in l3vnis %}
  member vni {{ l3.vni }} associate-vrf
{% endfor %}
{% for l2 in l2vnis %}
  member vni {{ l2.vni }}
{% endfor %}
!
{% if l2vnis %}
evpn
{% for l2 in l2vnis %}
  vni {{ l2.vni }} l2
    rd auto
    route-target import auto
    route-target export auto
{% endfor %}
!
{% endif %}
router bgp {{ local_as }}
{% for l3 in l3vnis %}
  vrf {{ l3.vrf }}
{% for af, values in l3.address_families.items() %}
    address-family {{ af }} unicast
      advertise l2vpn evpn
      redistribute direct route-map {{ values.redistribute_direct_route_map }}
      redistribute static route-map {{ values.redistribute_static_route_map }}
      maximum-paths ibgp {{ values.maximum_paths_ibgp }}
{% endfor %}
{% endfor %}
!
end
