ALRED_USERNAME=admin
ALRED_PASSWORD=admin
ALRED_ENABLE_SECRET=
ALRED_FW_USERNAME=
ALRED_FW_PASSWORD=
ALRED_FW_ENABLE_SECRET=
ALRED_SSH_PORT=22
ALRED_TIMEOUT=60
ALRED_RAW_DIR=raw
ALRED_OUTPUT_DIR=output
ALRED_LINKS_DIR=output
ALRED_TOPOLOGY_DIR=output
ALRED_LOG_DIR=logs
ALRED_LOG_ROTATION=20
